<launch>

  <node pkg="serial_reader" type="serial_reader" name="serial_reader" output="screen"/>

<!--
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
    <param name="frame_id" value="/laser"/>
  </node>

  <node pkg="swissranger_camera" type="swissranger_camera" name="swissranger_camera" output="screen">
    <param name="auto_exposure" value="1" /> 
  </node>
-->
</launch>

