<launch>

  <env name="ROS_IP" value="192.168.1.33"/>
  <env name="ROS_HOSTNAME" value="192.168.1.33"/>
  <env name="ROS_MASTER_URI" value="http://192.168.1.145:11311"/>

  <node pkg="serial_reader" type="serial_reader" name="serial_reader" output="screen"/>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
    <param name="frame_id" value="/laser"/>
  </node>

  <node pkg="swissranger_camera" type="swissranger_camera" name="swissranger_camera" output="screen">
    <param name="auto_exposure" value="1" /> 
  </node>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <rosparam param="D">[0.075807, -0.106132, -0.008356, -0.008674, 0.0000]</rosparam>
    <rosparam param="K">[294.471514, 0.000000, 152.439859, 0.000000, 289.487454, 110.488870, 0.000000, 0.000000, 1.000000]</rosparam>
    <rosparam param="R">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
    <rosparam param="P">[294.471514, 0.000000, 152.439859, 0.000000, 0.000000, 289.487454, 110.488870, 0.000000, 0.000000, 0.000000, 1.000000, 0.000000]</rosparam>
  </node>

</launch>

